@using Domain.Web.Models.UserAccount
@model ChangePasswordViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutHostPlan.cshtml";
}

<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-1"
         data-bg-img="@Url.Content("~/App_Themes/assets/hostplan/images/bg/bg1.jpg")">
    <div class="container pt-30 pb-30">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-7 pt-60">
                    <h3 class="text-white mt-0 mb-0">Danışmanlık İle</h3>
                    <h2 class="text-white text-uppercase font-42 mt-0 mb-5">
                        MARKANIZI
                        <span class="text-theme-colored"> KORUYUN</span>
                    </h2>
                    <p class="text-gray-lightgray font-15">
                        Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. Animi tempore mollitia rem non modi,
                        saepe facere reiciendis dolorum, autem nulla dolores sed voluptate nemo.
                    </p>
                    <a href="#" class="btn btn-theme-colored btn-flat mt-10">İletişim</a>
                </div>
                <div class="col-md-5">
                    <img src="@Url.Content("~/App_Themes/assets/hostplan/images/photos/vps.png")" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="divider">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="col-xs-12">
                    <h3 class="line-bottom mt-0">Şifremi Değiştir</h3>
                </div>
                @using (Html.BeginForm(FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.DomainFor().TextBoxFor(model => model.OldPassword).SetParentCss("col-sm-12").SetParentCss("m-login__form-input--last").SetHtmlAttributes(new { type = "password", autocomplete = "off" })
                    @Html.DomainFor().TextBoxFor(model => model.NewPassword).SetParentCss("col-sm-12").SetParentCss("m-login__form-input--last").SetHtmlAttributes(new { type = "password", autocomplete = "off" })
                    @Html.DomainFor().TextBoxFor(model => model.NewPasswordConfirm).SetParentCss("col-sm-12").SetParentCss("m-login__form-input--last").SetHtmlAttributes(new { type = "password", autocomplete = "off" })

                    <div class="col-sm-12 m-form p-2 mt-2 text-right">
                        @Html.Domain().Button("btnSave").SetType(ButtonType.submit).SetCustomClasses("btn-xl").SetTitle("Şifremi Değiştir").SetStyle(ButtonStyle.success).SetIcon("fa fa-edit")
                    </div>

                    <div class="col-sm-12 m-form p-2 mt-2 text-right">
                        <a href="@Url.Action("Index")" style="font-weight:bold; text-decoration:underline"> <i class="fa fa-arrow-left"></i> Hesap Bilgilerim Sayfasına Dön </a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<!-- Divider: Call To Action -->
<section class="bg-theme-colored-2">
    <div class="container pt-0 pb-0">
        <div class="row">
            <div class="call-to-action pt-0 pb-0">
                <div class="col-md-3 text-center font-16 pt-40 pb-40 border-right-dark">
                    <a href="#" class="text-white"><i class="fa fa-headphones mr-10"></i></a>
                </div>
                <div class="col-md-3 text-center font-16 pt-40 pb-40 border-right-dark">
                    <a href="#" class="text-white"><i class="fa fa-envelope-o mr-10"></i> </a>
                </div>
                <div class="col-md-3 text-center font-16 pt-40 pb-40 border-right-dark">
                    <a href="#" class="text-white"><i class="fa fa-mobile mr-10"></i> </a>
                </div>
                <div class="col-md-3 text-center font-16 pt-40 pb-40">
                    <a href="#" class="text-white"><i class="fa fa-skype mr-10"></i> </a>
                </div>
            </div>
        </div>
    </div>
</section>

